.button {
  width: 128px;
  height: 58px;
  left: 1294px;
  top: 21px;
  background-color: #ffffff;
  cursor: pointer;
  font-weight: 400;
  border: 1px solid #060606;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  transition: all 200ms;
}

.button:hover {
  background: #f3f3f3;
}