.login-form-footer {
    display: flex;
    width: 85.10%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 6px 0 41.5px 0;
}

.remember-me-container{
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: flex-start;
    gap: 23px;
}

.remember-me-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: all .3s;
    background: none;
    border: 2px solid #4C1691;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.remember-me-btn:checked {
    box-shadow: inset 0 0 0 12px #4C1691;
    border: 0;
}

.remember-me-lbl {
    color: #6A6F73;
    font-weight: 400;
    font-size: 15px;
    margin-left: 5px;
}

.remember-me-container:hover, .remember-me-lbl:hover{
    cursor: pointer;
}