.levelContainer {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 35px;
    align-self: flex-start;
    justify-content: center;
}

.bar1-green, .bar1-gray,
.bar2-green, .bar2-gray,
.bar3-green, .bar3-gray,
.bar4-green, .bar4-gray
{
    width: 32px;
    height: 5px;
    background: #6A6F73;
    border-radius: 10px;
    margin: 5px;
}

.bar1-green,
.bar2-green,
.bar3-green,
.bar4-green
{
    background: #6A6F73;
}

.bar1-gray,
.bar2-gray,
.bar3-gray,
.bar4-gray{
    background: #C4C4C4;
}

.levelContainer span {
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: #6A6F73;
    margin: 0 0 0 5px;
}