.square1, .square2, .square3, .square4, .square5 {
    position: absolute;
    border: 5px solid #D7D1DD;
    box-sizing: border-box;
    border-radius: 40px;
    z-index: -1;
}

.square1 {
    width: 272px;
    height: 355px;
    right: 91px;
    top: -200px;
}

.square2 {
    width: 369px;
    height: 369px;
    right: 163px;
    bottom: -158px;
}

.square3 {
    width: 169.6px;
    height: 169.6px;
    right: -36.6px;
    bottom: 264.11px;
}

.square4 {
    width: 169.6px;
    height: 169.6px;
    right: -36.6px;
    bottom: 65.57px;
}

.square5 {
    width: 169.6px;
    height: 169.6px;
    right: -36.6px;
    bottom: -132.96px;
}